[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "pygame-ce"]
	path = pygame-ce
	url = https://github.com/pygame-community/pygame-ce.git
[submodule "c_isometric_engine/ext/sdl"]
	path = c_isometric_engine/ext/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
